<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="https://railstutorial.jp/help">Rails Tutorial help page</a>.
  To get help on this sample app, see the
  <a href="https://railstutorial.jp/#ebook"><em>Ruby on Rails Tutorial</em>
  book</a>.
</p>



Qこのサイトは何？<br>
Aこのサイトは<a href="https://dev.syosetu.com/man/api/">なろう小説API</a>
を使用した過去の小説家になろうのランキングを掲載するサイトです<br>


Qサイトが見にくい<br>
Aすみません。railsを勉強して初めて作ったサイトなので今後改善してく予定です。<br>

Q今後どうなるの<br>
A日付を指定できるようにしたり掲載順位を増やしたりする予定です。<br>









<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
<br>

  <% index4()[0..1].each do |novel| %>
    <%= novel %>
    <%= get_novel_data(novel["ncode"]) %>

    <br>
    <br>


    
  <% end %>
<%= get_novel_data("n2273dh-n4679do-n7047do") %>