<div class="center jumbotron">
  <h1>5年前の日間総合ランキング</h1>
  <h2>
    このサイトは5年前の
    <a href="https://syosetu.com/">小説家になろう</a>
    の日間総合ランキングを掲載するサイトです。<br>
    過去のランキングを見たい時に使ってください。<br>
    なお、本サービスは<a href="https://hinaproject.co.jp/hina_guideline.html">株式会社ヒナプロジェクト</a>
    が提供するものではありません<br>
    また、「小説家になろう」は株式会社ヒナプロジェクトの登録商標です。
  </h2>
</div>


<%= render 'layouts/ranking' %>
