<footer class="footer">
  <small>
  「小説家になろう」は株式会社ヒナプロジェクトの登録商標です。<br>
    本サービスは<a href="https://hinaproject.co.jp/hina_guideline.html">株式会社ヒナプロジェクト</a>
    が提供するものではありません

  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>